//- set the doctype first, pug can accept different doctypes
doctype html

html
  head
    //- Base metas
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel='stylesheet' href='./presentation-assets/index.css')

    //- Title and description
    meta(name="description" content="Desc")
    if title
      title=title
    else
      title we { the collective }

  body
    .screen.intro
      if logo
        img.intro__logo(src='./logo.png' alt)
      if title
        h1.intro__title=title
      if client
        h2.intro__client=client
      h3.intro__date=date_generated.toLocaleString('en-US', { month: "long", day: "numeric", year: "numeric"})
      button.intro__begin.button Begin
    .sidebar
      button.sidebar__toggler
        svg.sidebar__toggler-icon(viewBox='0 0 7 11')
          title Toggle Sidebar
          path(d='M5.5 1L1 5.5 5.5 10' stroke='currentColor' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round')
      .sidebar__wrapper
        nav.sidebar__nav.breakpoints(aria-label='breakpoints')
          ul.breakpoints__list
            li.breakpoints__list-item
              button.button.breakpoints__button.is-inactive(data-breakpoint='desktop' disabled)
                svg.breakpoints__icon(viewBox='0 0 60 60')
                  title Desktop
                  path(d='M15.197 21.256h29.58v17.786h-29.58zM26.043 43.006h7.888M29.987 39.041v3.965' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
            li.breakpoints__list-item
              button.button.breakpoints__button.is-inactive(data-breakpoint='tablet' disabled)
                svg.breakpoints__icon(viewBox='0 0 60 60')
                  title Tablet
                  path(stroke='currentColor' stroke-width='2' stroke-linejoin='round' d='M19 15h23v30H19z' fill='none')
            li.breakpoints__list-item
              button.button.breakpoints__button.is-inactive(data-breakpoint='mobile' disabled)
                svg.breakpoints__icon(viewBox='0 0 60 60')
                  title Mobile
                  path(fill='none' d='M36.844 45H22.99a.995.995 0 0 1-.99-1V16c0-.552.443-1 .99-1h13.854c.546 0 .99.448.99 1v28c0 .552-.444 1-.99 1z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M34.25 20a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5z' fill='currentColor')
        nav.sidebar__nav.concepts(aria-label='Concepts')
    .screen.screen--hidden.showcase
      .showcase__frame
        .showcase__content
          img.showcase__image(src='./concept_1/desktop/1-Homepage.jpg')
    script(src='./presentation-assets/index.js' module)
