:root {
  --c-primary: #181818;
  --c-secondary: #fff;
  --c-accent-1: #9B9B9B;
  --c-accent-2: #F72D1A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: var(--c-primary);
  color: var(--c-secondary);
  font-size: 1rem;
  height: 100vh;
  position: relative;
  width: 100vw;
}

input, button {
  font: inherit;
}

.small {
  font-size: 0.4em;
}

.app {
  background: var(--c-primary) url('../assets/background.jpg') center center/cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.app__logo {
  width: 350px;
  margin-bottom: 30px;
  display: block;
}

.app.is-processing {
  background-color: LightGrey;
  cursor: wait;
  opacity: 0.7;
}

.app.is-error {
  background-color: LightCoral;
}

.feedback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--c-primary);
  color: white;
  font-size: 40px;
}

.feedback.is-visible {
  display: flex;
}

.feedback__message span {
  display: block;
}

.form {
  display: block;
}

.form__label {
  margin-bottom: 20px;
}

.form__label-text {
  margin-right: 20px;
  display: block;
  color: var(--c-accent-1);
  font-size: 14px;
  margin-bottom: 3px;
}

.form__input {
  width: 630px;
  background-color: #242424;
  color: white;
  border-radius: 5px;
  border: solid 1px var(--c-accent-1);
  padding: 10px;
  margin-bottom: 20px;
}
.form__input:focus {
  border-color: var(--c-accent-2);
  outline: none;
}

.form__submit {
  border: none;
  background-color: var(--c-secondary);
  border-radius: 23.5px;
  display: block;
  margin: 0 auto;
  color: var(--c-primary);
  padding: 11px 40px 12px;
  margin-top: 50px;
  cursor: pointer;
}

.form__submit:hover,
.form__submit:focus {
  background-image: linear-gradient(180deg, var(--c-accent-2) 0%, #EC140B 100%);
  color: white;
  outline: none;
}
