@import "../../scss/helpers.scss";

.PageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.PageLayout__children {
  flex: 1;
  padding-bottom: spaceby(2);
  padding-top: spaceby(2);
  width: 100%;
}
