@import "~normalize.css";

:root {
  --c-primary: #181818;
  --c-secondary: #ffffff;
  --c-accent-1: #4a4a4a;
  --c-accent-2: #f72d1a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0 0 0.3em;
  font-weight: inherit;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 26px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------
                    Helpers
------------------------------------------------ */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
